 <div class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        {{#each data.category_list}}
        <li class="nav-item">
          <a href={{this.url}} class="nav-link {{#if (active this._id ../pageId)}}active{{/if}}" aria-current="page">{{this.name}}</a>
        </li>
        
        {{/each}}
      </ul>
    </div>



{{#each data.category_item_list}}
<div class="card text-white bg-primary mb-3" style="max-width: 20rem;">
  
  <div class="card-header">{{this.name}}</div>
    <div class="row g-0">      
      <div class="col-md-4">
        <img src="/images/mew.png" class="img-fluid rounded-start" alt="test image">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">[Flavor text]</h5>
          <p class="card-text">{{this.description}}</p>
          <a href={{this.url}} class="stretched-link"></a>
        </div>
      </div>
    </div>
</div>
{{/each}}

<div>
<a href={{concat data.category.url '/delete'}}>Delete category</a>
<br>
<a href={{concat data.category.url '/update'}}>Update category</a>
</div>
    
