 <div class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        {{#each data.category_list}}
        <li class="nav-item">
          <a href={{this.url}} class="nav-link {{#if (active this._id ../data.item.category)}}active{{/if}}" aria-current="page">{{this.name}}</a>

        </li>
        {{/each}}
      </ul>
    </div>

<p>
    {{data.item.name}} - {{data.item.description}} 

</p>
<div>
  
  <img src="data:{{data.item.img.mimetype}};base64, {{toString data.item.img.file}}" class="img-fluid rounded-start" alt="test image" style="width:300px">
</div>

<button class="btn btn-primary">Add to cart</button>

<div>
<a href={{concat data.item.url '/delete'}}>Delete item</a>
<br>
<a href={{concat data.item.url '/update'}}>Update item</a>
</div>