 <div class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        {{#each data.category_list}}
        <li class="nav-item">
          <a href={{this.url}} class="nav-link {{#if (active this._id ../data.item.category)}}active{{/if}}" aria-current="page">{{this.name}}</a>

        </li>
        {{/each}}
      </ul>
    </div>

<p>
    {{data.item.name}} - {{data.item.description}}

</p>

<button class="btn btn-primary">Add to cart</button>

<div>
<a href={{concat data.item.url '/delete'}}>Delete item</a>
</div>